.navbar {
  background-color: #35C3DC;
}

a.cat-logo.navbar-brand {
  color: #f4c3dc;
  font-size: 2em;
  font-family: "Neoneon";
  font-weight: bold;
  text-shadow: 2px 2px 4px #e21e80;
  text-decoration: none;
  float: left;

}

// .cat-logo {
//   font-family: "Neoneon";
//   font-weight: bold;
//   text-shadow: 2px 2px 4px #e21e80;
//   text-decoration: none;
//   float: left;
// }